body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-area {
    display: flex;
    margin-bottom: 100px;
    padding-left: 60px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    /* position: fixed; */
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

p {

    text-align: justify;
}

.right-pad {
    padding-right: 120px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    box-shadow: 10px 10px 50px gray;
    width: 40%;
    margin-left: 2%;
    margin-right: 5%;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 100px;

}

.full-stack {
    border-left: 7px solid #f96e5a;
}

.baby-dev {
    border-left: 7px solid blue;
}

.footer {
    /* position: fixed; */
    /* left: 0;
    bottom: 0; */
    width: 100%;
    background-color: #fb6957;
    color: white;
    text-align: center;
}

.footer p {
    text-align: center;
}