body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-area {
    display: flex;
    margin-bottom: 100px;
    padding-left: 80px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    /* position: fixed; */
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

p {

    text-align: justify;
}

.right-pad {
    padding-right: 120px;
}

.footer {
    /* position: fixed; */
    /* left: 0;
    bottom: 0; */
    width: 100%;
    background-color: #fb6957;
    color: white;
    text-align: center;
}

.footer p {
    text-align: center;
}